In [1]:
import pandas as pd

# read_file = pd.read_csv (r'Resources/Aus-covid-data.csv')
# read_file.to_csv (r'Resources/Aus-covid-data.csv', index=None)
# read_file.head(20)

In [2]:
file_to_load = "Resources/Aus-covid-data.csv"

In [3]:
read_file = pd.read_csv(file_to_load)
read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117873 entries, 0 to 117872
Data columns (total 62 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               117873 non-null  object
 1   continent                              112484 non-null  object
 2   location                               117873 non-null  object
 3   date                                   117873 non-null  object
 4   total_cases                            112085 non-null  float64
 5   new_cases                              112082 non-null  float64
 6   new_cases_smoothed                     111067 non-null  float64
 7   total_deaths                           101396 non-null  float64
 8   new_deaths                             101551 non-null  float64
 9   new_deaths_smoothed                    111067 non-null  float64
 10  total_cases_per_million                111494 non-null  float64
 11  new_cases_per_million                  111491 non-null  float64
 12  new_cases_smoothed_per_million         110481 non-null  float64
 13  total_deaths_per_million               100818 non-null  float64
 14  new_deaths_per_million                 100973 non-null  float64
 15  new_deaths_smoothed_per_million        110481 non-null  float64
 16  reproduction_rate                      94434 non-null   float64
 17  icu_patients                           13343 non-null   float64
 18  icu_patients_per_million               13343 non-null   float64
 19  hosp_patients                          15313 non-null   float64
 20  hosp_patients_per_million              15313 non-null   float64
 21  weekly_icu_admissions                  1178 non-null    float64
 22  weekly_icu_admissions_per_million      1178 non-null    float64
 23  weekly_hosp_admissions                 2145 non-null    float64
 24  weekly_hosp_admissions_per_million     2145 non-null    float64
 25  new_tests                              51051 non-null   float64
 26  total_tests                            50905 non-null   float64
 27  total_tests_per_thousand               50905 non-null   float64
 28  new_tests_per_thousand                 51051 non-null   float64
 29  new_tests_smoothed                     60501 non-null   float64
 30  new_tests_smoothed_per_thousand        60501 non-null   float64
 31  positive_rate                          57240 non-null   float64
 32  tests_per_case                         56614 non-null   float64
 33  tests_units                            62379 non-null   object
 34  total_vaccinations                     25954 non-null   float64
 35  people_vaccinated                      24822 non-null   float64
 36  people_fully_vaccinated                21822 non-null   float64
 37  total_boosters                         2309 non-null    float64
 38  new_vaccinations                       21484 non-null   float64
 39  new_vaccinations_smoothed              46209 non-null   float64
 40  total_vaccinations_per_hundred         25954 non-null   float64
 41  people_vaccinated_per_hundred          24822 non-null   float64
 42  people_fully_vaccinated_per_hundred    21822 non-null   float64
 43  total_boosters_per_hundred             2309 non-null    float64
 44  new_vaccinations_smoothed_per_million  46209 non-null   float64
 45  stringency_index                       97627 non-null   float64
 46  population                             117068 non-null  float64
 47  population_density                     108995 non-null  float64
 48  median_age                             104200 non-null  float64
 49  aged_65_older                          103040 non-null  float64
 50  aged_70_older                          103628 non-null  float64
 51  gdp_per_capita                         104787 non-null  float64
 52  extreme_poverty                        70370 non-null   float64
 53  cardiovasc_death_rate                  104502 non-null  float64
 54  diabetes_prevalence                    107660 non-null  float64
 55  female_smokers                         81614 non-null   float64
 56  male_smokers                           80428 non-null   float64
 57  handwashing_facilities                 52496 non-null   float64
 58  hospital_beds_per_thousand             95039 non-null   float64
 59  life_expectancy                        111817 non-null  float64
 60  human_development_index                104595 non-null  float64
 61  excess_mortality                       4007 non-null    float64
dtypes: float64(57), object(5)
memory usage: 55.8+ MB

In [4]:
clean_us_df = read_file[(read_file["location"]=='United States')].reset_index( drop = True)
clean_us_df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
count,6.070000e+02,606.000000,601.000000,569.000000,569.000000,601.000000,607.000000,606.000000,601.000000,569.000000,...,6.070000e+02,6.070000e+02,6.070000e+02,6.070000e+02,6.070000e+02,0.0,6.070000e+02,6.070000e+02,6.070000e+02,78.000000
mean,1.666447e+07,69451.206271,69485.305694,340035.789104,1184.117750,1113.253892,50056.222572,208.615373,208.717797,1021.388961,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,19.455000
std,1.427152e+07,67649.878547,62945.567923,219885.009994,948.745936,853.865095,42868.345312,203.204624,189.073937,660.483796,...,7.777971e-15,2.048051e-12,3.022297e-14,2.097830e-13,2.453394e-13,NaN,1.466703e-14,4.551224e-13,4.222327e-15,13.578056
min,1.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,0.003000,0.000000,0.000000,0.003000,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,0.750000
25%,2.295990e+06,24295.250000,23776.143000,141707.000000,498.000000,577.429000,6896.622000,72.977750,71.418000,425.655000,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,7.177500
50%,1.204308e+07,46588.500000,50382.571000,292947.000000,941.000000,859.143000,36174.640000,139.941000,151.338000,879.945000,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,17.545000
75%,3.188620e+07,79469.750000,90974.857000,576108.000000,1597.000000,1583.429000,95778.770500,238.709000,273.267000,1730.495000,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,27.990000
max,4.208743e+07,302959.000000,251857.143000,673763.000000,4460.000000,3425.571000,126420.926000,910.019000,756.521000,2023.828000,...,1.200000e+00,1.510890e+02,1.079000e+01,1.910000e+01,2.460000e+01,NaN,2.770000e+00,7.886000e+01,9.260000e-01,51.630000

In [5]:
clean_aus_df = read_file[(read_file["location"]=='Australia')].reset_index( drop = True)
clean_aus_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AUS,Oceania,Australia,26/01/2020,4.0,4.0,NaN,NaN,NaN,NaN,...,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.944,7.06
1,AUS,Oceania,Australia,27/01/2020,5.0,1.0,NaN,NaN,NaN,NaN,...,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.944,NaN
2,AUS,Oceania,Australia,28/01/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.944,NaN
3,AUS,Oceania,Australia,29/01/2020,6.0,1.0,NaN,NaN,NaN,NaN,...,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.944,NaN
4,AUS,Oceania,Australia,30/01/2020,9.0,3.0,NaN,NaN,NaN,NaN,...,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.944,NaN

In [6]:
clean_skr_df = read_file[(read_file["location"]=='South Korea')].reset_index( drop = True)
clean_skr_df.head(50)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,KOR,Asia,South Korea,21/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
1,KOR,Asia,South Korea,22/01/2020,1.0,NaN,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
2,KOR,Asia,South Korea,23/01/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
3,KOR,Asia,South Korea,24/01/2020,2.0,1.0,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
4,KOR,Asia,South Korea,25/01/2020,2.0,0.0,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
5,KOR,Asia,South Korea,26/01/2020,3.0,1.0,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,7.99
6,KOR,Asia,South Korea,27/01/2020,4.0,1.0,NaN,NaN,NaN,NaN,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
7,KOR,Asia,South Korea,28/01/2020,4.0,0.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
8,KOR,Asia,South Korea,29/01/2020,4.0,0.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
9,KOR,Asia,South Korea,30/01/2020,4.0,0.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
10,KOR,Asia,South Korea,31/01/2020,11.0,7.0,1.286,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
11,KOR,Asia,South Korea,1/02/2020,12.0,1.0,1.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
12,KOR,Asia,South Korea,2/02/2020,15.0,3.0,1.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,6.98
13,KOR,Asia,South Korea,3/02/2020,15.0,0.0,1.571,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
14,KOR,Asia,South Korea,4/02/2020,16.0,1.0,1.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
15,KOR,Asia,South Korea,5/02/2020,19.0,3.0,2.143,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
16,KOR,Asia,South Korea,6/02/2020,23.0,4.0,2.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
17,KOR,Asia,South Korea,7/02/2020,24.0,1.0,1.857,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
18,KOR,Asia,South Korea,8/02/2020,24.0,0.0,1.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
19,KOR,Asia,South Korea,9/02/2020,25.0,1.0,1.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,9.84
20,KOR,Asia,South Korea,10/02/2020,27.0,2.0,1.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
21,KOR,Asia,South Korea,11/02/2020,28.0,1.0,1.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
22,KOR,Asia,South Korea,12/02/2020,28.0,0.0,1.286,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
23,KOR,Asia,South Korea,13/02/2020,28.0,0.0,0.714,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
24,KOR,Asia,South Korea,14/02/2020,28.0,0.0,0.571,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
25,KOR,Asia,South Korea,15/02/2020,28.0,0.0,0.571,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
26,KOR,Asia,South Korea,16/02/2020,29.0,1.0,0.571,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,5.22
27,KOR,Asia,South Korea,17/02/2020,30.0,1.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
28,KOR,Asia,South Korea,18/02/2020,31.0,1.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
29,KOR,Asia,South Korea,19/02/2020,31.0,0.0,0.429,NaN,NaN,0.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
30,KOR,Asia,South Korea,20/02/2020,104.0,73.0,10.857,1.0,1.0,0.143,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
31,KOR,Asia,South Korea,21/02/2020,204.0,100.0,25.143,2.0,1.0,0.286,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
32,KOR,Asia,South Korea,22/02/2020,433.0,229.0,57.857,2.0,0.0,0.286,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
33,KOR,Asia,South Korea,23/02/2020,602.0,169.0,81.857,6.0,4.0,0.857,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,1.19
34,KOR,Asia,South Korea,24/02/2020,833.0,231.0,114.714,8.0,2.0,1.143,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
35,KOR,Asia,South Korea,25/02/2020,977.0,144.0,135.143,10.0,2.0,1.429,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
36,KOR,Asia,South Korea,26/02/2020,1261.0,284.0,175.714,12.0,2.0,1.714,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
37,KOR,Asia,South Korea,27/02/2020,1766.0,505.0,237.429,13.0,1.0,1.714,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
38,KOR,Asia,South Korea,28/02/2020,2337.0,571.0,304.714,13.0,0.0,1.571,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
39,KOR,Asia,South Korea,29/02/2020,3150.0,813.0,388.143,16.0,3.0,2.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
40,KOR,Asia,South Korea,1/03/2020,3736.0,586.0,447.714,17.0,1.0,1.571,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,2.44
41,KOR,Asia,South Korea,2/03/2020,4335.0,599.0,500.286,28.0,11.0,2.857,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
42,KOR,Asia,South Korea,3/03/2020,5186.0,851.0,601.286,28.0,0.0,2.571,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
43,KOR,Asia,South Korea,4/03/2020,5621.0,435.0,622.857,35.0,7.0,3.286,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
44,KOR,Asia,South Korea,5/03/2020,6088.0,467.0,617.429,35.0,0.0,3.143,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
45,KOR,Asia,South Korea,6/03/2020,6593.0,505.0,608.000,42.0,7.0,4.143,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
46,KOR,Asia,South Korea,7/03/2020,7041.0,448.0,555.857,44.0,2.0,4.000,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
47,KOR,Asia,South Korea,8/03/2020,7314.0,273.0,511.143,50.0,6.0,4.714,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,2.81
48,KOR,Asia,South Korea,9/03/2020,7478.0,164.0,449.000,53.0,3.0,3.571,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN
49,KOR,Asia,South Korea,10/03/2020,7513.0,35.0,332.429,54.0,1.0,3.714,...,0.2,85.998,6.8,6.2,40.9,NaN,12.27,83.03,0.916,NaN

In [7]:
skr_data = clean_skr_df[["date","total_cases","new_cases"]]
skr_data.head(5)

         date  total_cases  new_cases
0  21/01/2020          NaN        NaN
1  22/01/2020          1.0        NaN
2  23/01/2020          1.0        0.0
3  24/01/2020          2.0        1.0
4  25/01/2020          2.0        0.0

In [8]:
us_data = clean_us_df[["date","total_cases","new_cases"]]
us_data

           date  total_cases  new_cases
0    22/01/2020          1.0        NaN
1    23/01/2020          1.0        0.0
2    24/01/2020          2.0        1.0
3    25/01/2020          2.0        0.0
4    26/01/2020          5.0        3.0
..          ...          ...        ...
602  15/09/2021   41627946.0   166284.0
603  16/09/2021   41785903.0   157957.0
604  17/09/2021   41993789.0   207886.0
605  18/09/2021   42050638.0    56849.0
606  19/09/2021   42087432.0    36794.0

[607 rows x 3 columns]

In [9]:
au_data = clean_aus_df[["date","total_cases","new_cases"]]
au_data

           date  total_cases  new_cases
0    26/01/2020          4.0        4.0
1    27/01/2020          5.0        1.0
2    28/01/2020          5.0        0.0
3    29/01/2020          6.0        1.0
4    30/01/2020          9.0        3.0
..          ...          ...        ...
598  15/09/2021      80400.0     1856.0
599  16/09/2021      82200.0     1800.0
600  17/09/2021      84056.0     1856.0
601  18/09/2021      85628.0     1572.0
602  19/09/2021      87128.0     1500.0

[603 rows x 3 columns]

In [10]:
merged_df = au_data.merge(us_data, how = 'inner', on='date', suffixes = ('_aus','_us'))
merged_df

           date  total_cases_aus  new_cases_aus  total_cases_us  new_cases_us
0    26/01/2020              4.0            4.0             5.0           3.0
1    27/01/2020              5.0            1.0             5.0           0.0
2    28/01/2020              5.0            0.0             5.0           0.0
3    29/01/2020              6.0            1.0             6.0           1.0
4    30/01/2020              9.0            3.0             6.0           0.0
..          ...              ...            ...             ...           ...
598  15/09/2021          80400.0         1856.0      41627946.0      166284.0
599  16/09/2021          82200.0         1800.0      41785903.0      157957.0
600  17/09/2021          84056.0         1856.0      41993789.0      207886.0
601  18/09/2021          85628.0         1572.0      42050638.0       56849.0
602  19/09/2021          87128.0         1500.0      42087432.0       36794.0

[603 rows x 5 columns]

In [11]:
merge_three_df = merged_df.merge(skr_data, how = 'inner', on='date')
merge_three_df

,date,total_cases_aus,new_cases_aus,total_cases_us,new_cases_us,total_cases,new_cases
0,26/01/2020,4.0,4.0,5.0,3.0,3.0,1.0
1,27/01/2020,5.0,1.0,5.0,0.0,4.0,1.0
2,28/01/2020,5.0,0.0,5.0,0.0,4.0,0.0
3,29/01/2020,6.0,1.0,6.0,1.0,4.0,0.0
4,30/01/2020,9.0,3.0,6.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...
598,15/09/2021,80400.0,1856.0,41627946.0,166284.0,279930.0,1941.0
599,16/09/2021,82200.0,1800.0,41785903.0,157957.0,281938.0,2008.0
600,17/09/2021,84056.0,1856.0,41993789.0,207886.0,284022.0,2084.0
601,18/09/2021,85628.0,1572.0,42050638.0,56849.0,285931.0,1909.0
602,19/09/2021,87128.0,1500.0,42087432.0,36794.0,287536.0,1605.0

In [12]:
merge_three_df.to_csv("Resources/cases_au_us_skr_data.csv")